@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-abril: 'Abril Fatface', serif;
  --font-inter: 'Inter', sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
  overflow-x: hidden;
}
